In [1]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

from os import listdir

import geopandas as gpd

%matplotlib inline

In [2]:
listdir()

['.git',
 '.gitignore',
 '.ipynb_checkpoints',
 '.vscode',
 'country_data',
 'country_plots.py',
 'Dashboard.py',
 'new_ds.cpg',
 'new_ds.csv',
 'new_ds.dbf',
 'new_ds.prj',
 'new_ds.shp',
 'new_ds.shx',
 'paste.html',
 'pholder.txt',
 'Procfile',
 'README.md',
 'requirements.txt',
 'runtime.txt',
 'simple-pre-loader.zip',
 'static',
 'templates',
 'Untitled.ipynb',
 '__pycache__']

In [4]:
df = gpd.read_file('new_ds.dbf')

In [5]:
df.head()

,NAME,TYPE,Company,Continent,Model (0=t,Privately,geometry
0,Zimbabwe,Sovereign country,SUPERSPORT (SOUTH AFRICA),Africa,3.0,1.0,POLYGON ((31.28789062500002 -22.40205078125001...
1,Zambia,Sovereign country,SUPERSPORT (SOUTH AFRICA),Africa,3.0,1.0,"POLYGON ((30.39609375000001 -15.64306640625, 3..."
2,Yemen,Sovereign country,beIN SPORT,Asia,3.0,1.0,"(POLYGON ((53.08564453125001 16.648388671875, ..."
3,Venezuela,Sovereign country,ESPN LATIN AMERICA,Americas,3.0,1.0,(POLYGON ((-60.82119140624999 9.13837890624999...
4,Vanuatu,Sovereign country,FIJI TV,Asia,4.0,1.0,"(POLYGON ((166.74580078125 -14.82685546875001,..."

In [6]:
countries = df['NAME'].unique()

In [7]:
countries

array(['Zimbabwe', 'Zambia', 'Yemen', 'Venezuela', 'Vanuatu', 'Uruguay',
       'United States of America', 'United Kingdom',
       'United Arab Emirates', 'Uganda', 'Tunisia', 'Trinidad and Tobago',
       'Tonga', 'Togo', 'Thailand', 'Syria', 'Switzerland', 'Sweden',
       'eSwatini', 'Suriname', 'Sudan', 'South Africa', 'Somalia',
       'Slovakia', 'Singapore', 'Sierra Leone', 'Seychelles', 'Senegal',
       'Saudi Arabia', 'SÃ£o TomÃ© and Principe', 'Samoa', 'Saint Lucia',
       'Rwanda', 'Russia', 'Qatar', 'Portugal', 'Poland', 'Philippines',
       'Peru', 'Paraguay', 'Panama', 'Oman', 'Norway', 'Nigeria', 'Niger',
       'Nicaragua', 'New Zealand', 'Netherlands', 'Nauru', 'Namibia',
       'Mozambique', 'Morocco', 'Monaco', 'Mexico', 'Mauritania', 'Mali',
       'Malaysia', 'Malawi', 'Madagascar', 'Luxembourg', 'Libya',
       'Liberia', 'Lesotho', 'Lebanon', 'Laos', 'Kuwait', 'Kosovo',
       'Kiribati', 'Kenya', 'Jordan', 'Japan', 'Jamaica', 'Italy',
       'Ireland', 'Iraq', 'Iran', 'Indonesia', 'Honduras', 'Haiti',
       'Guyana', 'Guinea-Bissau', 'Guinea', 'Guatemala', 'Grenada',
       'Ghana', 'Georgia', 'Gambia', 'Gabon', 'France', 'Finland', 'Fiji',
       'Ethiopia', 'Eritrea', 'El Salvador', 'Egypt', 'Ecuador',
       'Dominica', 'Djibouti', 'Denmark', 'Czechia', 'Costa Rica',
       'Comoros', 'Colombia', 'Chile', 'Chad', 'Cameroon', 'Cambodia',
       'Burundi', 'Burkina Faso', 'Brunei', 'Brazil', 'Botswana',
       'Bolivia', 'Benin', 'Belize', 'Belgium', 'Barbados', 'Bahrain',
       'Australia', 'Argentina', 'Angola', 'Andorra', 'Algeria',
       'Albania', 'Vietnam', 'Vatican', 'Uzbekistan', 'Micronesia',
       'Marshall Is.', 'N. Mariana Is.', 'U.S. Virgin Is.', 'Guam',
       'American Samoa', 'Puerto Rico', 'S. Geo. and the Is.',
       'Br. Indian Ocean Ter.', 'Saint Helena', 'Pitcairn Is.',
       'Anguilla', 'Falkland Is.', 'Cayman Is.', 'Bermuda',
       'British Virgin Is.', 'Turks and Caicos Is.', 'Montserrat',
       'Jersey', 'Guernsey', 'Isle of Man', 'Ukraine', 'Turkmenistan',
       'Turkey', 'Timor-Leste', 'Tanzania', 'Tajikistan', 'Taiwan',
       'S. Sudan', 'Sri Lanka', 'Spain', 'South Korea', 'Somaliland',
       'Solomon Is.', 'Slovenia', 'Serbia', 'San Marino',
       'St. Vin. and Gren.', 'St. Kitts and Nevis', 'Romania',
       'Papua New Guinea', 'Palau', 'Pakistan', 'North Korea', 'Niue',
       'Cook Is.', 'Aruba', 'CuraÃ§ao', 'Nepal', 'W. Sahara',
       'Montenegro', 'Mongolia', 'Moldova', 'Mauritius', 'Malta',
       'Maldives', 'Macedonia', 'Lithuania', 'Liechtenstein', 'Latvia',
       'Kyrgyzstan', 'Kazakhstan', 'Israel', 'Palestine', 'India',
       'Iceland', 'Hungary', 'Greece', 'Germany',
       'St. Pierre and Miquelon', 'Wallis and Futuna Is.', 'St-Martin',
       'St-BarthÃ©lemy', 'Fr. Polynesia', 'New Caledonia',
       'Fr. S. Antarctic Lands', 'Ã\x85land', 'Estonia', 'Eq. Guinea',
       'Dominican Rep.', 'Greenland', 'Faeroe Is.', 'N. Cyprus', 'Cyprus',
       'Cuba', 'Croatia', "CÃ´te d'Ivoire", 'Dem. Rep. Congo', 'Congo',
       'China', 'Macao', 'Hong Kong', 'Central African Rep.',
       'Cabo Verde', 'Canada', 'Myanmar', 'Bulgaria', 'Bosnia and Herz.',
       'Bhutan', 'Belarus', 'Bangladesh', 'Bahamas', 'Azerbaijan',
       'Austria', 'Indian Ocean Ter.', 'Heard I. and McDonald Is.',
       'Norfolk Island', 'Ashmore and Cartier Is.', 'Armenia',
       'Antigua and Barb.', 'Afghanistan', 'Siachen Glacier',
       'Antarctica', 'Sint Maarten'], dtype=object)

In [8]:
df1 = pd.read_csv('country_data/press_freedom_clean.csv')

In [9]:
df1.head()

       Country  Year  Press Freedom Index
0  Afghanistan  1995                   90
1  Afghanistan  1996                  100
2  Afghanistan  1997                  100
3  Afghanistan  1998                  100
4  Afghanistan  1999                   90

In [11]:
countries1 = df1['Country'].unique()

In [12]:
countries1.shape

(199,)

In [14]:
countries.shape

(241,)

In [15]:
mask = np.isin(countries1, countries)

In [17]:
countries1[mask].shape

(174,)

In [19]:
countries1[~mask]

array(['Antigua and Barbuda', 'Bosnia and Herzegovina', 'Burma (Myanmar)',
       'Cape Verde', 'Central African Republic', 'Congo (Brazzaville)',
       'Congo (Kinshasa)', 'Czech Republic', 'Dominican Republic',
       'Equatorial Guinea', 'Guinea Bissau', 'Ivory Coast',
       'Macedonia (F.Y.R.O.M.)', 'Marshall Islands',
       'Saint Kitts and Nevis', 'Saint Thomas and Principe',
       'Saint Vincent and Grenadines', 'Serbia and Montenegro',
       'Solomon Islands', 'South Sudan', 'Swaziland', 'Timor Leste',
       'Tuvalu', 'United States', 'West Bank and Gaza'], dtype=object)

In [20]:
countries

array(['Zimbabwe', 'Zambia', 'Yemen', 'Venezuela', 'Vanuatu', 'Uruguay',
       'United States of America', 'United Kingdom',
       'United Arab Emirates', 'Uganda', 'Tunisia', 'Trinidad and Tobago',
       'Tonga', 'Togo', 'Thailand', 'Syria', 'Switzerland', 'Sweden',
       'eSwatini', 'Suriname', 'Sudan', 'South Africa', 'Somalia',
       'Slovakia', 'Singapore', 'Sierra Leone', 'Seychelles', 'Senegal',
       'Saudi Arabia', 'SÃ£o TomÃ© and Principe', 'Samoa', 'Saint Lucia',
       'Rwanda', 'Russia', 'Qatar', 'Portugal', 'Poland', 'Philippines',
       'Peru', 'Paraguay', 'Panama', 'Oman', 'Norway', 'Nigeria', 'Niger',
       'Nicaragua', 'New Zealand', 'Netherlands', 'Nauru', 'Namibia',
       'Mozambique', 'Morocco', 'Monaco', 'Mexico', 'Mauritania', 'Mali',
       'Malaysia', 'Malawi', 'Madagascar', 'Luxembourg', 'Libya',
       'Liberia', 'Lesotho', 'Lebanon', 'Laos', 'Kuwait', 'Kosovo',
       'Kiribati', 'Kenya', 'Jordan', 'Japan', 'Jamaica', 'Italy',
       'Ireland', 'Iraq', 'Iran', 'Indonesia', 'Honduras', 'Haiti',
       'Guyana', 'Guinea-Bissau', 'Guinea', 'Guatemala', 'Grenada',
       'Ghana', 'Georgia', 'Gambia', 'Gabon', 'France', 'Finland', 'Fiji',
       'Ethiopia', 'Eritrea', 'El Salvador', 'Egypt', 'Ecuador',
       'Dominica', 'Djibouti', 'Denmark', 'Czechia', 'Costa Rica',
       'Comoros', 'Colombia', 'Chile', 'Chad', 'Cameroon', 'Cambodia',
       'Burundi', 'Burkina Faso', 'Brunei', 'Brazil', 'Botswana',
       'Bolivia', 'Benin', 'Belize', 'Belgium', 'Barbados', 'Bahrain',
       'Australia', 'Argentina', 'Angola', 'Andorra', 'Algeria',
       'Albania', 'Vietnam', 'Vatican', 'Uzbekistan', 'Micronesia',
       'Marshall Is.', 'N. Mariana Is.', 'U.S. Virgin Is.', 'Guam',
       'American Samoa', 'Puerto Rico', 'S. Geo. and the Is.',
       'Br. Indian Ocean Ter.', 'Saint Helena', 'Pitcairn Is.',
       'Anguilla', 'Falkland Is.', 'Cayman Is.', 'Bermuda',
       'British Virgin Is.', 'Turks and Caicos Is.', 'Montserrat',
       'Jersey', 'Guernsey', 'Isle of Man', 'Ukraine', 'Turkmenistan',
       'Turkey', 'Timor-Leste', 'Tanzania', 'Tajikistan', 'Taiwan',
       'S. Sudan', 'Sri Lanka', 'Spain', 'South Korea', 'Somaliland',
       'Solomon Is.', 'Slovenia', 'Serbia', 'San Marino',
       'St. Vin. and Gren.', 'St. Kitts and Nevis', 'Romania',
       'Papua New Guinea', 'Palau', 'Pakistan', 'North Korea', 'Niue',
       'Cook Is.', 'Aruba', 'CuraÃ§ao', 'Nepal', 'W. Sahara',
       'Montenegro', 'Mongolia', 'Moldova', 'Mauritius', 'Malta',
       'Maldives', 'Macedonia', 'Lithuania', 'Liechtenstein', 'Latvia',
       'Kyrgyzstan', 'Kazakhstan', 'Israel', 'Palestine', 'India',
       'Iceland', 'Hungary', 'Greece', 'Germany',
       'St. Pierre and Miquelon', 'Wallis and Futuna Is.', 'St-Martin',
       'St-BarthÃ©lemy', 'Fr. Polynesia', 'New Caledonia',
       'Fr. S. Antarctic Lands', 'Ã\x85land', 'Estonia', 'Eq. Guinea',
       'Dominican Rep.', 'Greenland', 'Faeroe Is.', 'N. Cyprus', 'Cyprus',
       'Cuba', 'Croatia', "CÃ´te d'Ivoire", 'Dem. Rep. Congo', 'Congo',
       'China', 'Macao', 'Hong Kong', 'Central African Rep.',
       'Cabo Verde', 'Canada', 'Myanmar', 'Bulgaria', 'Bosnia and Herz.',
       'Bhutan', 'Belarus', 'Bangladesh', 'Bahamas', 'Azerbaijan',
       'Austria', 'Indian Ocean Ter.', 'Heard I. and McDonald Is.',
       'Norfolk Island', 'Ashmore and Cartier Is.', 'Armenia',
       'Antigua and Barb.', 'Afghanistan', 'Siachen Glacier',
       'Antarctica', 'Sint Maarten'], dtype=object)

In [36]:
country_map = {'Antigua and Barbuda':'Antigua and Barb.', 'Bosnia and Herzegovina':'Bosnia and Herz.', 
 'Burma (Myanmar)': 'Myanmar', 'Cape Verde':'Cabo Verde', 'Central African Republic': 'Central African Rep.', 
 'Congo (Brazzaville)':'Congo',
 'Congo (Kinshasa)': 'Dem. Rep. Congo', 'Czech Republic': 'Czechia', 'Dominican Republic': 'Dominican Rep.',
 'Equatorial Guinea':'Eq. Guinea', 'Guinea Bissau':'Guinea-Bissau', 'Ivory Coast': "CÃ´te d'Ivoire",
 'Macedonia (F.Y.R.O.M.)':'Macedonia', 'Marshall Islands': 'Marshall Is.',
 'Saint Kitts and Nevis': 'St. Kitts and Nevis', 'Saint Thomas and Principe': 'SÃ£o TomÃ© and Principe',
 'Saint Vincent and Grenadines':'St. Vin. and Gren.', 'Serbia and Montenegro': 'Serbia',
 'Solomon Islands':'Solomon Is.', 'South Sudan': 'S. Sudan', 'Swaziland': 'eSwatini', 'Timor Leste': 'Timor-Leste',
 'Tuvalu':'', 'United States': 'United States of America', 'West Bank and Gaza': 'Palestine'}

country_map = dict([(value, key) for key, value in country_map.items()])

In [37]:
country_map

{'Antigua and Barb.': 'Antigua and Barbuda',
 'Bosnia and Herz.': 'Bosnia and Herzegovina',
 'Myanmar': 'Burma (Myanmar)',
 'Cabo Verde': 'Cape Verde',
 'Central African Rep.': 'Central African Republic',
 'Congo': 'Congo (Brazzaville)',
 'Dem. Rep. Congo': 'Congo (Kinshasa)',
 'Czechia': 'Czech Republic',
 'Dominican Rep.': 'Dominican Republic',
 'Eq. Guinea': 'Equatorial Guinea',
 'Guinea-Bissau': 'Guinea Bissau',
 "CÃ´te d'Ivoire": 'Ivory Coast',
 'Macedonia': 'Macedonia (F.Y.R.O.M.)',
 'Marshall Is.': 'Marshall Islands',
 'St. Kitts and Nevis': 'Saint Kitts and Nevis',
 'SÃ£o TomÃ© and Principe': 'Saint Thomas and Principe',
 'St. Vin. and Gren.': 'Saint Vincent and Grenadines',
 'Serbia': 'Serbia and Montenegro',
 'Solomon Is.': 'Solomon Islands',
 'S. Sudan': 'South Sudan',
 'eSwatini': 'Swaziland',
 'Timor-Leste': 'Timor Leste',
 '': 'Tuvalu',
 'United States of America': 'United States',
 'Palestine': 'West Bank and Gaza'}

In [ ]:
country_map = {'Antigua and Barb.': 'Antigua and Barbuda','Bosnia and Herz.': 'Bosnia and Herzegovina',
 'Myanmar': 'Burma (Myanmar)','Cabo Verde': 'Cape Verde','Central African Rep.': 'Central African Republic',
 'Congo': 'Congo (Brazzaville)','Dem. Rep. Congo': 'Congo (Kinshasa)','Czechia': 'Czech Republic','Dominican Rep.': 'Dominican Republic',
 'Eq. Guinea': 'Equatorial Guinea','Guinea-Bissau': 'Guinea Bissau',"CÃ´te d'Ivoire": 'Ivory Coast',
 'Macedonia': 'Macedonia (F.Y.R.O.M.)','Marshall Is.': 'Marshall Islands','St. Kitts and Nevis': 'Saint Kitts and Nevis',
 'SÃ£o TomÃ© and Principe': 'Saint Thomas and Principe','St. Vin. and Gren.': 'Saint Vincent and Grenadines',
 'Serbia': 'Serbia and Montenegro','Solomon Is.': 'Solomon Islands','S. Sudan': 'South Sudan','eSwatini': 'Swaziland',
 'Timor-Leste': 'Timor Leste','United States of America': 'United States','Palestine': 'West Bank and Gaza'}

In [24]:
df.head()

,NAME,TYPE,Company,Continent,Model (0=t,Privately,geometry
0,Zimbabwe,Sovereign country,SUPERSPORT (SOUTH AFRICA),Africa,3.0,1.0,POLYGON ((31.28789062500002 -22.40205078125001...
1,Zambia,Sovereign country,SUPERSPORT (SOUTH AFRICA),Africa,3.0,1.0,"POLYGON ((30.39609375000001 -15.64306640625, 3..."
2,Yemen,Sovereign country,beIN SPORT,Asia,3.0,1.0,"(POLYGON ((53.08564453125001 16.648388671875, ..."
3,Venezuela,Sovereign country,ESPN LATIN AMERICA,Americas,3.0,1.0,(POLYGON ((-60.82119140624999 9.13837890624999...
4,Vanuatu,Sovereign country,FIJI TV,Asia,4.0,1.0,"(POLYGON ((166.74580078125 -14.82685546875001,..."

In [25]:
def get_model(val):
    
    if val == -1:
        return 'Rights are held by middle-man.'
    elif val == 1:
        return 'Free-to-air.'
    elif val == 2:
        return 'Pay-per-view.'
    elif val == 3:
        return 'Subscription.'
    else:
        return 'Free-to-view.'
    
# function to extract numbers from 'Privately Owned' column and convert to string

def get_ownership(val):
    
    if val == 1:
        return 'Privately owned.'
    else:
        return 'Government ownership.'

In [26]:
df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 7 columns):
NAME          248 non-null object
TYPE          248 non-null object
Company       131 non-null object
Continent     131 non-null object
Model (0=t    131 non-null float64
Privately     131 non-null float64
geometry      248 non-null object
dtypes: float64(2), object(5)
memory usage: 13.6+ KB

In [27]:
df.dropna(inplace = True)

In [28]:
df['business_model'] = df['Model (0=t'].apply(lambda x: get_model(x))

df['ownership'] = df['Privately'].apply(lambda x: get_ownership(x))

In [29]:
df.head()

,NAME,TYPE,Company,Continent,Model (0=t,Privately,geometry,business_model,ownership
0,Zimbabwe,Sovereign country,SUPERSPORT (SOUTH AFRICA),Africa,3.0,1.0,POLYGON ((31.28789062500002 -22.40205078125001...,Subscription.,Privately owned.
1,Zambia,Sovereign country,SUPERSPORT (SOUTH AFRICA),Africa,3.0,1.0,"POLYGON ((30.39609375000001 -15.64306640625, 3...",Subscription.,Privately owned.
2,Yemen,Sovereign country,beIN SPORT,Asia,3.0,1.0,"(POLYGON ((53.08564453125001 16.648388671875, ...",Subscription.,Privately owned.
3,Venezuela,Sovereign country,ESPN LATIN AMERICA,Americas,3.0,1.0,(POLYGON ((-60.82119140624999 9.13837890624999...,Subscription.,Privately owned.
4,Vanuatu,Sovereign country,FIJI TV,Asia,4.0,1.0,"(POLYGON ((166.74580078125 -14.82685546875001,...",Free-to-view.,Privately owned.

In [31]:
df.drop('geometry')

KeyError: "['geometry'] not found in axis"

In [32]:
df[['business_model', 'ownership']].apply(pd.Series.value_counts)

                                business_model  ownership
Free-to-air.                              16.0        NaN
Free-to-view.                             10.0        NaN
Government ownership.                      NaN        6.0
Pay-per-view.                              1.0        NaN
Privately owned.                           NaN      125.0
Rights are held by middle-man.             1.0        NaN
Subscription.                            103.0        NaN

In [33]:
df['business_model'].unique()

array(['Subscription.', 'Free-to-view.', 'Free-to-air.', 'Pay-per-view.',
       'Rights are held by middle-man.'], dtype=object)

In [34]:
x1 = {'Subscription.': 103, 'Free-to-view.': 10, 'Free-to-air.':16, 'Pay-per-view.':1,
       'Rights are held by middle-man.':1}

x2 = {'Privately owned.':125, 'Government ownership.':6}

data1 = pd.Series(x1).reset_index(name='value').rename(columns={'index':'business_model'})

data2 = pd.Series(x2).reset_index(name='value').rename(columns={'index':'ownership'})

data1['angle'] = data1['value']/data1['value'].sum() * 2*pi

data2['angle'] = data2['value']/data2['value'].sum() * 2*pi

pie_data = {'business_model': data1, 'ownership': data2}

array(['Privately owned.', 'Government ownership.'], dtype=object)

In [38]:
countries1

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma (Myanmar)', 'Burundi',
       'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Ivory Coast', 'Jamaica',
       'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Macedonia (F.Y.R.O.M.)', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania',
       'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Korea', 'Norway', 'Oman', 'Pakistan',
       'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia',
       'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Thomas and Principe', 'Saint Vincent and Grenadines',
       'Samoa', 'San Marino', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'Somaliland',
       'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor Leste',
       'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'West Bank and Gaza', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)